<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img id="logo">
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h1 id="title">Proccess Of Things</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="subtitle">Proccess Of Things</h1>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<img id="qrcode">
		</div>
	</div>
	<div class="row">
		<div class="ui-widget">
			 <span class="label label-default">
				<label for="search">Search: </label>
                                <input type="text" id="search">
			 </span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6">
					<img id="image-left">
				</div>
				<div class="col-md-6">
					<textarea id="info-left" readonly>hello</textarea>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
							<img id="image-action">
						</div>
						<div class="col-md-4">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6">
					<img id="image-right">
				</div>
				<div class="col-md-6">
					<textarea id="info-right" readonly></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<textarea id="log" readonly></textarea>
		</div>
	</div>
</div>
