<div class="container-fluid ">
        <div class="header">
            <img id="logo"/>
            <h1 id="title">Welcome Process Of Things</h1>
            <img id="qrcode"/>
        </div>
        <div class="header">
                <div class="ui-widget">
                        <label for="birds">Search: </label>
                        <input id="birds">
                </div>
                <div class="action">
                        <img id="image-action">
                </div>
        </div>
        <div class="containers">
                <img id="image-left">
                <textarea id="info-left" readonly></textarea>
                <img id="image-center">
                <img id="image-right">
                <textarea id="info-right" readonly></textarea>
        </div>
        <div class="row">
            <textarea id="log" readonly></textarea>
        </div>
</div>
